.main_employer{
	width: 1000px;
	height: 100%;
	margin: 0 auto 0 auto;
	background: #FFFFFF;
}
.red{
	color: red;
}

#employer_mod div{
	margin-top: 15px;
}

#employer_mod label{
	color: red;
}

.add_employer{
	height: 40px;
	width: 100%;
	background: #FFFFFF;
	text-align: right;
}

.add_employer button{
	height: 30px;
	width: 80px;
	background: #31b0d5;
	margin: 5px 20px 0 0;
	border-radius: 8px;
	border: none;
	outline: none;
	color: #FFFFFF;
}

.add_employer button:hover{
	color: #f8bbd0;
}

#employer_mod input{
	width: 175px;
}

